{% extends "base.html" %}
{% block title %}Message{% endblock %}
{% block head %}
<meta http-equiv="refresh" content="3; url={{ url_for('careers.jobs') }}" />
{% endblock %}

{% block navbar %}
    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="{{ url_for('careers.index') }}">Careers</a></div>





        </div>
      </div>
    </header>
{% endblock %}

{% block home %}
    <!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image"
      style="background-image: url('{{ url_for('static', filename='images/hero_1.jpg') }}');" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">{{message}}</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

